.portfolioWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.portfolioCard {
    position: relative;
    margin-top: 5rem;
    width: 300px;
    height: 400px;
    perspective: 1000px;
    cursor: pointer;
    overflow: hidden;
}

.portfolioCardInner {
    position: relative;
    width: 100%;
    height: 80%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.portfolioCardImageWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: rotate(-10deg) skew(-10deg);
    overflow: hidden;
    background: white;
    transition: transform 0.5s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.portfolioCardHoverPreview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(0deg) skew(0deg);
    overflow: hidden;
}

.websitePreviewFrame {
    width: 100%;
    height: 300%; /* zyada content cover kare */
    border: none;
    transform: translateY(0);
    transition: transform 5s linear; /* slow scroll */
    pointer-events: none; /* disable clicks */
}

/* Hover Effects */
.portfolioCard:hover .portfolioCardInner {
    transform: rotateY(0);
}

.portfolioCard:hover .portfolioCardImageWrapper {
    transform: rotate(0deg) skew(0deg);
}

.portfolioCard:hover .websitePreviewFrame {
    transform: translateY(-66%); /* neeche scroll kare */
}

.portfolioCardContent {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    text-align: center;
    transition: opacity 0.5s ease;
}

@media (max-width: 768px) {
    .portfolioCardImageWrapper {
        transform: rotate(0deg) skew(0deg);
    }
    
    .portfolioCard {
        width: 280px;
        height: 380px;
    }
}
