:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (max-width: 991px) {
  .navbar-collapse.show {
    left: 0 !important;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: visible;
  
 }
 .site-wrapper {
  overflow-x: clip; /* NOT hidden */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.dropdown-toggle::after {
  border-top-color: white !important;
}

.formWrapper,
.getaquote-module__G5UDDW__formWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    padding: 0;
    background: transparent !important;
    font-family: 'Poppins', sans-serif;
}
/* Form container adjustments */
.formContainer {
    background-color: #E6F0FA !important;
    box-shadow: none !important;
    padding: 20px !important;
    border-radius: 10px !important;
}

.formWrapper {
    min-height: auto !important;
    padding: 0 !important;
    background: transparent !important;
}
/* Orange Theme Colors firstpageblog.module.css*/
:root {
  --orange-primary: #FD7E14;
  --orange-light: #FFA94D;
  --orange-dark: #E8590C;
  --orange-gradient: linear-gradient(90deg, #FD7E14 0%, #FFA94D 100%);
}
  
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
 