.aboutdigitalMain {
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.provenTextDigital {
    font-size: 1.7rem;
    font-weight: bolder;
}

.specialText {
    font-weight: bolder;
}

.allTextDigital {
    font-size: 1.1rem;
}

.imageContainer {
    position: relative;
    width: 100%;
    height: auto;
}

/* You can add responsive styles if needed */
@media (max-width: 768px) {
    .provenTextDigital {
        font-size: 1.4rem;
    }
    
    .allTextDigital {
        font-size: 1rem;
    }
}